<section id="logs">
  <div id="logs-controls">
    <div>
      <label>
        <input type="checkbox" id="scroll-to-bottom-checkbox" data-bind:_scroll-to-bottom>
        <%= t.logs.scroll_to_bottom %>
      </label>
    </div>
  </div>
  <div id="logs-area"
    data-init="@get('/logs')"
    data-on-signal-patch="$_scrollToBottom ? el.scrollTop = el.scrollHeight : null"
    data-on-signal-patch-filter="{include: /^(log_last_id|_scrollToBottom)$/}"
    >
  </div>
</section>
