<%# locals: (action:, disabled:, program_id: nil) %>
<%
path = program_id ? "/programs/#{program_id}/#{action}" : "/programs/#{action}"
%>

<form action="<%= path %>" method="POST">
  <input type="submit" value="<%= t.report.action[action] %>"
    <%= "disabled" if disabled %>
    data-on:click__prevent="@post('<%= path %>')">
</form>
