<%# locals: (report:) %>
<article id="report" data-init="@get('/')">
  <div class="actions mb3">
    <% report_allowed_actions = report.allowed_actions 
       report.possible_actions.each do |action| %>
      <%== part "home/action", action: action, disabled: !report_allowed_actions.include?(action) %>
    <% end %>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th><th>Status</th><th>Actions</th>
      </tr>
    </thead>
      <% report.items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.status %></td>
          <td>
            <div class="actions">
              <% program_allowed_actions = item.allowed_actions 
                 item.possible_actions.each do |action| %>
                <%== part "home/action", action: action, program_id: item.id,
                       disabled: !program_allowed_actions.include?(action) %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <tbody>
    </tbody>
  </table>
</article>
