<%# locals: (report:) %>
<article id="report">
  <div class="actions mb3">
    <% report.allowed_actions.each do |action| %>
      <%== part "home/action", action: action %>
    <% end %>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th><th>Status</th><th>Actions</th>
      </tr>
    </thead>
      <% report.items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.status %></td>
          <td>
            <div class="actions">
              <% item.allowed_actions.each do |action| %>
                <%== part "home/action", action: action, program_id: item.id %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    <tbody>
    </tbody>
  </table>
</article>
