@layer base, main, component, utility;

@layer base {
  body {
    margin: 0;
  }
}

@layer main {
  :root {
    --s1: .25rem;
    --s2: .5rem;
    --s3: 1rem;
    --s4: 2rem;
    --s5: 4rem;

    --lch-brown: 10% 0.4 65;
    --lch-yellow: 100% 0.2 55;
    --lch-yellow-light: 100% 0.02 55;
    --lch-orange: 100% 0.4 65;
    --lch-orange-dark: 93% 0.4 65;

    --color-bg: oklch(var(--lch-yellow));
    --color-text: oklch(var(--lch-brown));
    --color-logs-bg: oklch(var(--lch-yellow-light));
    --color-button-bg: oklch(var(--lch-orange));
    --color-border: oklch(var(--lch-brown));
    --color-scrollbar-thumb: oklch(var(--lch-orange-dark));

    scroll-behavior: smooth;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-bg);
    scrollbar-gutter: stable;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  main {
    margin: 2rem 0 1rem 1rem;
    width: calc(100% - 6rem);
  }

  #logs {
    --controls-height: min(2rem, 10vh);

    #logs-controls {
      height: var(--controls-height);
    }
    #logs-area {
      height: calc(100vh - var(--controls-height) - .5rem);
      overflow-y: scroll;
      width: 100%;
      border: 1px solid var(--color-border);
      font-family: monospace;
      background-color: var(--color-logs-bg);
      scrollbar-color: var(--color-scrollbar-thumb) var(--color-logs-bg);
    }
  }

  #report {
    .actions {
      display: flex;
      gap: var(--s2);
    }

    .status-column {
      min-width: 20ch;
    }
  }

  nav#aside-nav {
    position: fixed;
    right: 1rem;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .nav-arrow {
      width: 3rem;
      cursor: pointer;

      svg {
        height: 100%;
        width: 100%;
        --color-brown: oklch(var(--lch-brown));
        --color-orange: oklch(var(--lch-orange-dark));
      }
    }
  }
}

@layer component {
  input[type=submit], input[type=button], button {
    padding: var(--s2) var(--s3);
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: var(--color-button-bg);
    color: var(--color-text);

    &:hover {
      background-color: oklch(from var(--color-button-bg) calc(l - 0.07) c h);
      color: oklch(from var(--color-text) calc(l - 0.02) c h);
    }

    &:active {
      background-color: oklch(from var(--color-button-bg) calc(l - 0.03) c h);
      color: var(--color-text);
    }

    &:disabled {
      cursor: unset;
      background-color: oklch(from var(--color-button-bg) l c h / 0.5);
      color: oklch(from var(--color-text) l c h / 0.65);
    }
  }

  table {
    border-collapse: collapse;

    td, th {
      padding: var(--s2);
      border-bottom: 1px solid var(--color-border);
    }
  }
}

@layer utility {
  .ms1 { margin-inline-start: var(--s1); }
  .ms2 { margin-inline-start: var(--s2); }
  .ms3 { margin-inline-start: var(--s3); }
  .ms4 { margin-inline-start: var(--s4); }
  .me1 { margin-inline-end: var(--s1); }
  .me2 { margin-inline-end: var(--s2); }
  .me3 { margin-inline-end: var(--s3); }
  .me4 { margin-inline-end: var(--s4); }
  .mt1 { margin-block-start: var(--s1); }
  .mt2 { margin-block-start: var(--s2); }
  .mt3 { margin-block-start: var(--s3); }
  .mt4 { margin-block-start: var(--s4); }
  .mb1 { margin-block-end: var(--s1); }
  .mb2 { margin-block-end: var(--s2); }
  .mb3 { margin-block-end: var(--s3); }
  .mb4 { margin-block-end: var(--s4); }
  .ms-auto { margin-inline-start: auto; }
  .me-auto { margin-inline-end: auto; }
}
