@layer base, main, component, utility;

@layer base {
  body {
    margin: 0;
  }
}

@layer main {
  :root {
    --s1: .25rem;
    --s2: .5rem;
    --s3: 1rem;
    --s4: 2rem;
    --s5: 4rem;

    --lch-brown: 10% 0.4 65;
    --lch-yellow: 100% 0.2 55;
    --lch-yellow-light: 100% 0.02 55;
    --lch-orange: 100% 0.4 65;
    --lch-orange-dark: 93% 0.4 65;

    --color-bg: oklch(var(--lch-yellow));
    --color-text: oklch(var(--lch-brown));
    --color-logs-bg: oklch(var(--lch-yellow-light));
    --color-button-bg: oklch(var(--lch-orange));
    --color-border: oklch(var(--lch-brown));
    --color-scrollbar-thumb: oklch(var(--lch-orange-dark));
    --color-input-bg: oklch(var(--lch-yellow-light));
    --color-input-text: oklch(var(--lch-brown));
    --color-outline: oklch(var(--lch-orange-dark));

    /* svg.gsub(%("), "'").gsub("<", "%3C").gsub(">", "%3E").gsub(/\n/, "") */
    --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-24 5 48 57' fill='white'%3E%3Cellipse cx='0' cy='38' rx='9' ry='14' /%3E%3Cellipse cx='0' cy='20' rx='5' ry='6' /%3E%3Cellipse cx='-14' cy='26' rx='10' ry='4' /%3E%3Cellipse cx='14' cy='26' rx='10' ry='4' /%3E%3Cpolyline points='-2,15 -4,12 -6,12' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' /%3E%3Cpolyline points='2,15 4,12 6,12' fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' /%3E%3C/svg%3E");

    scroll-behavior: smooth;
    scrollbar-color: var(--color-scrollbar-thumb) var(--color-bg);
    scrollbar-gutter: stable;
  }

  body {
    background-color: var(--color-bg);
    color: var(--color-text);
  }

  main {
    margin: 0 0 1rem 1rem;
    width: calc(100% - 6rem);
  }

  #pcelka-h1 {
    display: inline-block;
    cursor: pointer;
  }

  #logs {
    --controls-height: min(2rem, 10vh);

    #logs-controls {
      padding-top: 1rem;
      padding-bottom: .5rem;
      height: var(--controls-height);
      display: flex;
      align-items: center;
    }
    #logs-area {
      height: calc(100vh - var(--controls-height) - 2.5rem);
      overflow-y: scroll;
      width: 100%;
      border: 1px solid var(--color-border);
      font-family: monospace;
      background-color: var(--color-logs-bg);
      scrollbar-color: var(--color-scrollbar-thumb) var(--color-logs-bg);
    }
  }

  #report {
    .actions {
      display: flex;
      gap: var(--s2);
    }

    .status-column {
      min-width: 20ch;
    }
  }

  nav#aside-nav {
    position: fixed;
    right: 1rem;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .nav-arrow {
      width: 3rem;
      cursor: pointer;

      svg {
        height: 100%;
        width: 100%;
        --color-brown: oklch(var(--lch-brown));
        --color-orange: oklch(var(--lch-orange-dark));
      }
    }
  }

  *:focus-visible {
    outline: 2px solid var(--color-outline);
  }
}

@layer component {
  input[type=submit], input[type=button], button {
    padding: var(--s2) var(--s3);
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: var(--color-button-bg);
    color: var(--color-text);

    &:hover {
      background-color: oklch(from var(--color-button-bg) calc(l - 0.07) c h);
      color: oklch(from var(--color-text) calc(l - 0.02) c h);
    }

    &:active {
      background-color: oklch(from var(--color-button-bg) calc(l - 0.03) c h);
      color: var(--color-text);
    }

    &:disabled {
      cursor: unset;
      background-color: oklch(from var(--color-button-bg) l c h / 0.5);
      color: oklch(from var(--color-text) l c h / 0.65);
    }

    &:focus-visible {
      --color-outline: oklch(var(--lch-brown));
    }
  }

  input[type=text], input[type=search] {
    width: 100%;
    padding: .25rem .5rem;
    border-radius: none;
    border: 1px solid var(--color-border);
    background-color: var(--color-input-bg);
    color: var(--color-input-text);
  }

  label:has([type=checkbox], [type=radio]) {
    cursor: pointer;
  }
  [type=checkbox],
  [type=radio] {
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    cursor: pointer;
    background-color: var(--color-input-bg);
    border: 1px solid var(--color-border);
  }
  [type=checkbox]:checked, [type=checkbox]:checked:active, [type=checkbox]:checked:focus,
  [type=radio]:checked,
  [type=radio]:checked:active,
  [type=radio]:checked:focus {
    background-image: var(--icon-checkbox);
    background-color: oklch(var(--lch-orange));
    background-position: center .15em;
    background-size: 1em auto;
    background-repeat: no-repeat;
  }

  table {
    border-collapse: collapse;

    td, th {
      padding: var(--s2);
      border-bottom: 1px solid var(--color-border);
    }
  }
}

@layer utility {
  .ms1 { margin-inline-start: var(--s1); }
  .ms2 { margin-inline-start: var(--s2); }
  .ms3 { margin-inline-start: var(--s3); }
  .ms4 { margin-inline-start: var(--s4); }
  .me1 { margin-inline-end: var(--s1); }
  .me2 { margin-inline-end: var(--s2); }
  .me3 { margin-inline-end: var(--s3); }
  .me4 { margin-inline-end: var(--s4); }
  .mt1 { margin-block-start: var(--s1); }
  .mt2 { margin-block-start: var(--s2); }
  .mt3 { margin-block-start: var(--s3); }
  .mt4 { margin-block-start: var(--s4); }
  .mb1 { margin-block-end: var(--s1); }
  .mb2 { margin-block-end: var(--s2); }
  .mb3 { margin-block-end: var(--s3); }
  .mb4 { margin-block-end: var(--s4); }
  .ms-auto { margin-inline-start: auto; }
  .me-auto { margin-inline-end: auto; }
  .grow1 { flex-grow: 1; }
}
